
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Futura, Helvetica, Arial, sans-serif;
    font-size: $fontSize;
    line-height: $lineHeight;
    letter-spacing: .01em;

    @media #{$largeMedia} {
        font-size: 1.15 * $fontSize;
    }
}
